<div class="card-group" *ngIf="pokemon">
    <div class="card justify-content-center" style="width: 18rem;">
        <img class="card-img-bottom" [src]="[pokemon.image]" alt="...">
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{pokemon.id}}. {{pokemon.name | uppercase}}</h5>
            <hr>
            <p class="card-text">Altura: {{pokemon.height}}</p>
            <p class="card-text">Peso: {{pokemon.weight}}</p>
        </div>
        <div class="card-header">
            Estadisticas
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let stat of pokemon.stats">{{stat.stat.name}}: {{stat.base_stat}}
            </li>
        </ul>
    </div>
</div>